@import url("https://fonts.googleapis.com/css2?family=Staatliches&family=Cormorant+Garamond");

table {
    border: thin solid grey;
    border-collapse: collapse;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

th,
td {
    text-align: center;
    border: 1px solid grey;
    padding: 10px;
}

th {
    font-size: larger;
    font-family: "Cormorant Garamond";
}

thead {
    background-color: black;
    color: white;
}

thead th {
    border: 1px solid black;
}

.diff {
    background-color: dimgray;
}

tbody th,
tbody td {
    padding-top: 5px;
    padding-bottom: 5px;
}

tbody tr:nth-child(even) {
    background-color: lightgray;
}