@media screen and (min-width: 1200px) {

    .reserve-button {
        font-size: 1.5em;
    }

    .social {
        display: flex;
    }

    .social a:nth-child(-n + 2),
    .social a:nth-last-child(-n +2) {
        align-self: center;
    }

    #flavour-content {
        max-width: 1200px;
    }

    .reserve-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .map-content {
        display: flex;
        flex-direction: row;
    }
}