@import url("https://fonts.googleapis.com/css2?family=Staatliches&family=Cormorant+Garamond");

/* Global Formatting */
body {
    background-color: #FAFBFC;
}

main {
    margin: 0 auto;
}

h1,
h2,
h3,
legend {
    font-family: "Staatliches";
    color: #383639;
}

p,
a,
label {
    font-family: "Cormorant Garamond";
    color: black;
    font-weight: bold;
}

/* Header */
.top_bar {
    background-color: #878378;
    width: 100%;
}

.top_bar>p {
    display: inline;
    margin-top: 20px;
}

header {
    background-color: #878378;
    display: grid;
    grid-template-columns: auto 1fr;
    width: 100%;
}

header,
#hero {
    border-bottom: 4px solid #ef4062;
}

.logo_group {
    display: flex;
    justify-content: center;
    text-align: left;
    align-items: center;

}

footer .header_junk {
    display: flex;
    justify-content: center;
}

footer .header_junk .social {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    align-items: center;
}

header .header_junk {
    visibility: hidden;
}

header>div>img {
    height: 100px;
    border-radius: 10%;
    margin-block: 30px;
    margin-right: 30px;
    margin-left: 30px;
}

footer div a img,
header div a img {
    height: 50px;
    border-radius: 50%;
}

.social {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    align-items: center;

}

.social a {
    text-decoration: none;
}

.social a:nth-child(-n + 2) {
    align-self: end;
}

.social a:nth-last-child(-n +2) {
    align-self: flex-start;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 5px;
    margin-left: 5px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #6B9DDA;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #FAFBFC;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #383639;
}

input:focus+.slider {
    box-shadow: 0 0 1px #383639;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}



/* Nav */
#hamburger {
    font-size: 4rem;
    border: 0px solid black;
    padding: 0px 10px 0px 50px;
    background-color: #878378;
    color: #383639;
    text-align: left;
}

#hamburger::before {
    content: "☰";
}

#hamburger.show::before {
    content: "X";
    /* padding: 0px 0px 0px 11.25px; */
    color: #383639;
}

.navigation {
    display: none;
    background-color: #383639;
    width: 100%;
}

.navigation a:hover {
    color: #6B9DDA;
}

.show {
    display: inline-block;
}

.navlink {
    border: 1px solid #878378;
    display: block;
    text-align: center;
    color: #FAFBFC;
    font-size: 24px;
    font-variant: small-caps;
    text-decoration: none;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

/* Hero */
#hero {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#hero-img {
    width: 100%;
    opacity: .60;
    max-height: 500px;
    object-fit: cover;
    min-height: max-content;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    /* z-index: -1; */
}

#hero-button {
    background-color: #FAFBFC;
    padding: 1rem;
    font-family: "Staatliches";
    border: 2px solid #383639;
    border-radius: 20px 20px 20px 20px;
    text-align: center;
    grid-column: 2/3;
    grid-row: 2/3;
    margin-bottom: 70%;
    z-index: 1;
}

#hero-button a {
    font-family: "Staatliches";
    font-size: x-large;
    text-decoration: none;
    color: #383639;
}

#hero-button:hover {
    background-color: #6B9DDA;
}

/* Content */
.content {
    width: 90%;
    margin: 0 auto;
}

.current_events,
.current_weather,
.current_spotlight,
.side-card {
    border: 1px solid #383639;
    border-radius: 5px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current_events>h3,
.current_weather>h3,
.current_spotlight>h3,
.side-card>h3 {
    background-color: #6B9DDA;
    width: 100%;
    height: 32px;
    margin: 0%;
    padding-top: 10px;
    text-align: center;
}

.weather {
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather figure {
    margin: 0px;
}

/* Footer */
footer {
    background-color: #878378;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    text-align: center;
    width: 100%;
}

footer div:first-child {
    display: flex;
    justify-content: center;
    text-align: left;
}

footer p:last-child {
    display: block;
    text-align: center;
    grid-column: 1/3;

}

footer div img {
    height: 50px;
    border-radius: 10%;
    margin-block: 10px;
    margin-right: 10px;
}

/* Dark Mode */
.dark_mode {
    background-color: #383639;
    color: #FAFBFC;
    border-color: #FAFBFC;
}

.dark_mode #hero-button {
    background-color: #383639;
    border-color: #FAFBFC;
}

.dark_mode #hero-button a {
    color: #FAFBFC;
}

.dark_mode .current_events,
.dark_mode .current_spotlight,
.dark_mode .current_weather,
.dark_mode .side-card {
    border: 1px solid #FAFBFC;
}

.dark_mode .content p {
    color: #FAFBFC;
    font-weight: normal;
}

.dark_mode .current_spotlight a {
    color: #FAFBFC;
    font-weight: normal;
}

.dark_mode section {
    background-color: #383639;
}

.dark_mode section img {
    background-color: #FAFBFC;
}

.dark_mode section p,
.dark_mode section a,
.dark_mode section h2 {
    color: #FAFBFC;
}

/* ------------ DISCOVER PAGE ------------ */
.sidebar {
    display: flex;
    flex-direction: column;
}

.discover-visits {
    font-family: "Staatliches";
    color: #383639;
    font-size: x-large;
    text-align: center;
}

.glenn-photos {
    display: grid;
    grid-template-columns: 1fr;
}

.glenn-photos img {
    justify-self: center;
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 5px;
    border: solid 2px #383639;

}

#calendar {
    width: 100%;
    height: 400px;
}

.dark_mode .side-card p {
    color: #FAFBFC;
    font-weight: normal;
}

/* ------------ THANK YOU PAGE ------------ */
.thanks {
    text-align: center;
}

/*----------- FORM --------------*/
.divContent {
    margin-left: 2%;
    margin-right: 2%;
    display: grid;
    grid-template-columns: 1fr;
}

legend {
    padding: .5rem;
}

form fieldset {
    margin: 2rem 0;
    border: 2px solid #878378;
    border-radius: 10px;
    padding: .5rem 2%;
    text-align: center;
}

form label.top,
form fieldset div {
    display: block;
    padding-top: 1rem;
    font-size: 1rem;
    margin: 0 auto;
}

form label.top input,
form label.top select {
    display: block;
    font-size: 18px;
    font-weight: bold;
    border: solid 1px #878378;
    border-radius: 4px;
    padding: .75rem;
    color: black;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, .1);
    margin: 0 auto;
}

form .radioStar {
    display: block;
    border: solid 1px #878378;
    border-radius: 4px;
    padding: .75rem;
    color: #383639;
    width: 100%;
    max-width: 20rem;
    margin-top: 1rem;
}

form fieldset div {
    font-family: "Cormorant Garamond";
    color: black;
    font-weight: bold;
    border-bottom: 1px solid #383639;
    max-width: 20rem;
    padding-top: 0px;
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #383639;
}

form textarea {
    display: block;
    font-size: 18px;
    font-weight: bold;
    border: solid 1px #878378;
    border-radius: 4px;
    padding: .75rem;
    color: #383639;
    width: 100%;
    max-width: 20rem;
    margin: 0 auto;
}

form button.submitBtn {
    border: 1px solid #383639;
    background-color: #6B9DDA;
    font-family: "Staatliches";
    color: #383639;
    font-size: x-large;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    width: 50%;
    max-width: 10rem;
    margin-top: .5rem;
}

form label.top input:required {
    border-bottom: #ef4062 solid 2px;
}

/*----------- TABLE --------------*/
table {
    border: thin solid #878378;
    border-collapse: collapse;
    border-radius: 4px;
    margin-bottom: 10px;
}



thead {
    background-color: #383639;
    color: #FAFBFC;
}

th {
    font-size: larger;
    font-family: "Staatliches";
    font-weight: lighter;
}

td {
    font-family: "Cormorant Garamond";
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: lightgray;
}

th,
td {
    border: 1px solid #878378;
    padding: 10px;
}

tr {
    height: fit-content;
}

/* -------------- DIRECTORY -------------- */
.menu {
    margin: 1rem auto;
    text-align: center;
}

.menu button {
    padding: 1rem;
    border: 1px solid #383639;
    border-radius: 10px;
    font-family: "Staatliches";
    color: #383639;
    font-size: x-large;
}

.menu #list {
    background-color: #FAFBFC;
}

.menu #list.list {
    background-color: #6B9DDA;
}

.menu #grid {
    background-color: #6B9DDA;
}

.menu #grid.list {
    background-color: #FAFBFC;
}

#members {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

#members section {
    border: 2px solid #383639;
    box-shadow: 0 0 30px #878378;
    padding: .5rem;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    background-color: #FAFBFC;
}

.member-info {
    text-align: center;
}

#members section p {
    display: block;
    margin: 0.2rem;
    font-size: larger;
    letter-spacing: 1.5px;
}

#members.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

#members.list section {
    border: none;
    box-shadow: none;
    flex-direction: row;
    margin: 0rem;
}

#members.list .member {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#members.list section:nth-child(even) {
    background-color: #6B9DDA;
}

#members.list .member h2,
#members.list .member p,
#members.list .member a {
    flex: 1;
}

#members.list .member-logo {
    display: none;
}

#members.list section h2 {
    margin: .2rem;
}

.dark_mode #members.list section:nth-child(even) p,
.dark_mode #members.list section:nth-child(even) h2,
.dark_mode #members.list section:nth-child(even) a {
    color: #383639;
}