@media screen and (min-width: 800px) {

    /* Header */

    .social {
        padding-right: 30px;
    }

    header .header_junk {
        visibility: visible;
        display: flex;
        justify-content: flex-end;
    }

    /* Nav */
    #hamburger {
        display: none;
    }

    .navigation {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .navigation a {
        padding: 1rem;
        text-decoration: none;
        color: #FAFBFC;
        flex: 1;
    }

    /* Content */
    .content {
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 40%;
    }

    .current_spotlight {
        grid-column: 1/3;
    }

    /* Footer */

    footer .header_junk {
        visibility: hidden;
    }

    footer p {
        grid-column: 1/3;
    }

    /* ------------ DISCOVER PAGE ------------ */
    .discover-content {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .glenn-photos {
        grid-column: 2/3;
    }

    .glenn-photos img:hover {
        filter: contrast(50%);
    }

    /* ------------ JOIN PAGE ------------ */

    .divContent {
        grid-template-columns: 1fr 1fr;
    }

    table {
        margin: 2rem 10px;
    }

    tbody {
        max-height: 500px;
    }
}